<%- include('./partials/header') %>
<!-- -->
<% if(typeof user != 'undefined') { %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->
<% } else { %>
<!-- -->
<%- include('./partials/login-nav') %>
<!-- -->
<% } %>
<br /><br />

<div class="container">
  <h1 class="sectionTitle">Acerca de</h1>
</div>

<!-- -->
<%- include('./partials/footer') %>
