<%- include('./partials/header') %>
<!-- -->
<% if(typeof user != 'undefined') { %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->
<% } else { %>
<!-- -->
<%- include('./partials/login-nav') %>
<!-- -->
<% } %>

<br />
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="sectionTitle">Privacidad</h1>
      <p>
        Los términos y condiciones ("Términos") son un conjunto de términos
        legales definidos por el propietario de una página web. Establecieron
        los términos y condiciones que rigen las actividades de los visitantes
        de la página web en dicho sitio web y la relación entre los visitantes
        del sitio y el propietario del sitio web.
      </p>
      <br />
      <h3>Introducción</h3>
      <p>
        Esta página web es propiedad y está operado por Vitra. Estos Términos
        establecen los términos y condiciones bajo los cuales tu puedes usar
        nuestra página web y servicios ofrecidos por nosotros. Esta página web
        ofrece a los visitantes un comparador y explorador de dispositivos. Al
        acceder o usar la página web de nuestro servicio, usted aprueba que haya
        leído, entendido y aceptado estar sujeto a estos Términos
      </p>
      <br />
      <h3>Condiciones de uso</h3>
      <p>
        Para usar nuestro página web y / o recibir nuestros servicios, no se
        requiere ninguna edad mínima pero sí poseer el derecho y la libertad
        para participar en estos Términos como un acuerdo vinculante. No tienes
        permitido utilizar esta página web y / o recibir servicios si hacerlo
        está prohibido en tu país o en virtud de cualquier ley o regulación
        aplicable a tu caso.
      </p>
      <p>
        Podemos, sin aviso previo, cambiar los servicios; dejar de proporcionar
        los servicios o cualquier característica de los servicios que ofrecemos;
        o crear límites para los servicios. Podemos suspender de manera
        permanente o temporal el acceso a los servicios sin previo aviso ni
        responsabilidad por cualquier motivo, o sin ningún motivo.
      </p>
      <br />
      <h3>Acerca de los datos</h3>
      <p>
        El Servicio y todos los materiales incluidos o transferidos, incluyendo,
        sin limitación, software, imágenes, texto, gráficos, logotipos,
        patentes, marcas registradas, marcas de servicio, derechos de autor,
        fotografías, audio, videos, música y todos los Derechos de Propiedad
        Intelectual relacionados con ellos, son la propiedad exclusiva de Vitra.
        Salvo que se indique explícitamente en este documento, no se considerará
        que nada en estos Términos crea una licencia en o bajo ninguno de dichos
        Derechos de Propiedad Intelectual, y tu aceptas no vender, licenciar,
        alquilar, modificar, distribuir, copiar, reproducir, transmitir, exhibir
        públicamente, realizar públicamente, publicar, adaptar, editar o crear
        trabajos derivados de los mismos.
      </p>
      <p>
        Podemos terminar o suspender de manera permanente o temporal tu acceso
        al servicio sin previo aviso y responsabilidad por cualquier razón,
        incluso si a nuestra sola determinación tu violas alguna disposición de
        estos Términos o cualquier ley o regulación aplicable. Puedes
        descontinuar el uso y solicitar cancelar tu cuenta y / o cualquier
        servicio en cualquier momento. Sin perjuicio de lo contrario en lo que
        antecede, con respecto a las suscripciones renovadas automáticamente a
        los servicios pagados, dichas suscripciones se suspenderán solo al
        vencimiento del período correspondiente por el que ya has realizado el
        pago.
      </p>
      <p>
        Usted acuerda indemnizar y eximir de responsabilidad a [propietario del
        sitio web] de cualquier demanda, pérdida, responsabilidad, reclamación o
        gasto (incluidos los honorarios de abogados) que terceros realicen en tu
        contra como consecuencia de, o derivado de, o en relación con tu uso de
        la página web o cualquiera de los servicios ofrecidos en la página web
      </p>
      <br />
      <h3>Información sensible</h3>
      <p>
        En la máxima medida permitida por la ley aplicable, en ningún caso el
        Vitra será responsable por daños indirectos, punitivos, incidentales,
        especiales, consecuentes o ejemplares, incluidos, entre otros, daños por
        pérdida de beneficios, buena voluntad, uso, datos. u otras pérdidas
        intangibles, que surjan de o estén relacionadas con el uso o la
        imposibilidad de utilizar el servicio. En la máxima medida permitida por
        la ley aplicable, el propietario la página web no asume responsabilidad
        alguna por (i) errores, errores o inexactitudes de contenido; (ii)
        lesiones personales o daños a la propiedad, de cualquier naturaleza que
        sean, como resultado de tu acceso o uso de nuestro servicio; y (iii)
        cualquier acceso no autorizado o uso de nuestros servidores seguros y /
        o toda la información personal almacenada en los mismos.
      </p>
      <br />
      <h3>Más Información</h3>
      <p>
        Nos reservamos el derecho de modificar estos términos de vez en cuando a
        nuestra entera discreción. Por lo tanto, debes revisar estas páginas
        periódicamente. Cuando cambiemos los Términos de una manera material, te
        notificaremos que se han realizado cambios importantes en los Términos.
        El uso continuado de la página web o nuestro servicio después de dicho
        cambio constituye tu aceptación de los nuevos Términos. Si no aceptas
        alguno de estos términos o cualquier versión futura de los Términos, no
        uses o accedas (o continúes accediendo) a la página web o al servicio.
      </p>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>

<!-- -->
<%- include('./partials/footer') %>
