<%- include('./partials/header') %>
<!-- -->
<% if(typeof user != 'undefined') { %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->
<% } else { %>
<!-- -->
<%- include('./partials/login-nav') %>
<!-- -->
<% } %>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Privacidad</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
        similique itaque asperiores dolorem facilis, earum quam nobis eveniet
        cum quas!
      </p>
      <br />
      <h2>Introducci칩n</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ad non,
        magnam nostrum quibusdam repellendus explicabo, atque quam architecto
        deleniti, eum in sapiente voluptatem consequuntur veritatis dolorum
        aliquid quia aperiam alias excepturi deserunt. Vel atque dolorum illo
        consequatur error nulla.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        veniam sed accusantium asperiores cum iste ad sunt vitae provident. Quos
        nulla temporibus amet quae repudiandae recusandae cupiditate quia
        possimus asperiores nam maxime aperiam dignissimos obcaecati est, dicta
        excepturi iste. Voluptate placeat dolore obcaecati deserunt nam ut
        corrupti nostrum. Iusto similique consequatur quos pariatur
        reprehenderit doloribus, ab eveniet? Dolores pariatur eum a labore,
        illum tempore neque?
      </p>
      <br />
      <h2>Condiciones de uso</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus
        eveniet esse iusto nemo eos at officiis ipsa nulla error necessitatibus
        deleniti, est nobis et odit. Inventore aspernatur iusto quia temporibus
        ipsam! Voluptatibus recusandae impedit quod tempora id neque
        consectetur, odio reprehenderit iure at est officia, quaerat magni? Sit
        earum quae exercitationem, id magni fugit omnis quod!
      </p>
      <br />
      <h2>Acerca de los datos</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, porro!
        Accusamus minus harum veritatis, nostrum exercitationem qui ipsam, eos
        aliquid ex cumque aut sequi. Voluptatum voluptatem quod aspernatur esse
        quas doloremque optio deleniti enim, incidunt veniam voluptates modi
        odio ea, ipsa fugiat non at delectus corrupti aut voluptate culpa? Cum
        voluptatum, eaque exercitationem voluptatem error nulla quam suscipit
        nam quasi fugiat soluta, sint et! Voluptates sed sunt voluptatibus iusto
        dolores? Porro impedit voluptate, nisi accusantium laboriosam aut ex
        minus aspernatur nihil vel veniam error, ipsam ad nemo? Quasi, mollitia
        deserunt earum ad officia quas at iste quaerat modi fugit reiciendis!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At voluptas
        maxime asperiores! Tenetur, quo soluta rem in maxime, placeat possimus
        minus amet voluptates et excepturi aliquid. Possimus autem consequatur
        aperiam corporis. Officia harum excepturi minus nesciunt, possimus quas
        doloribus accusamus in quidem voluptatem nobis at, mollitia consequuntur
        earum culpa deleniti cum illo deserunt aliquam sequi aspernatur! Quae
        excepturi facere quas repellendus atque sequi accusantium assumenda
        delectus repudiandae dolorem. Harum odit ratione ullam fugit vitae
        praesentium magnam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        corrupti id eligendi alias velit facere ut voluptatum maiores fugiat
        deserunt, fuga similique quo ipsa placeat iusto aut optio, quia ducimus
        molestias! Reiciendis totam saepe sed.
      </p>
      <br />
      <h2>Informaci칩n sensible</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id qui nisi
        nesciunt doloremque repellat, ab officia similique quo veritatis tempora
        quasi quia expedita magni, ipsum facilis eos. Earum, ex omnis, deleniti
        consectetur nihil repudiandae tempore adipisci sint architecto fugiat
        placeat doloremque iste soluta sapiente!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
        accusamus perspiciatis similique laborum illum dolores accusantium saepe
        cum, dignissimos facilis mollitia quod ducimus tenetur.
      </p>
      <br />
      <h2>M치s Informaci칩n</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
        doloribus est, eaque omnis et numquam doloremque aspernatur voluptates
        molestiae nihil dignissimos consequatur cum reiciendis! Tenetur quod
        autem architecto enim nihil vel accusantium nesciunt debitis repellat
        itaque incidunt totam laudantium, ab iusto quidem cumque libero ipsa
        sequi blanditiis quia obcaecati quibusdam rem. In esse hic laudantium
        amet: info@vitra.com
      </p>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>

<!-- -->
<%- include('./partials/footer') %>
