/* --- MAIN EDITS --- */

body {
  font-family: "Poppins", sans-serif;
}

.indexSection {
  background-position: bottom;
  background-repeat: no-repeat;
  /*background-size: cover; */
}

/* INDEX */
.mainIndexText {
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  padding: 9%;
}

.mainIndexAppDownload {
  padding: 3%;
}

.indexText {
  font-size: 56px;
}

.exploreNow {
  padding: 5%;
}

/* LOGIN FORM */
.login-form {
  padding: 10%;
}

.login-form .container {
  padding-top: 5%;
  padding-bottom: 5%;
  border: solid;
  border-width: 0.5px;
  border-radius: 25px;
  border-color: lightgray;
}

.login-title {
  font-weight: bold;
}

/* APP */

.main-app {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  border: double;
}

.frame {
  border: solid;
  padding: 2%;
}

.img-col {
  border: double;
  text-align: center;
  padding: 5%;
  vertical-align: middle;
  align-items: center;
}

.details-col {
  border: double;
}

/* FAVS */

.favItem {
  padding: 1%;
}

.itemCard:hover {
  transform: scale(102%);
  transition: 0.2s;
}

.card-img-top {
  max-width: 150px;
}

#deviceImg {
  display: block;
  margin: auto;
}

/* FOOTER */
.footer {
  background-color: #22266e;
  color: white;
  padding: 1%;
}
