/* --- MAIN EDITS --- */

body {
  font-family: "Poppins", sans-serif;
}

.indexSection {
  background: #ffffff;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.sectionTitle {
  font-weight: 900;
}

/*background-size: cover; */

/* LOGIN NAV */

.navbar-light .navbar-text a,
.loginButton {
  color: white;
  background-color: #21325e;
  border: none;
}

.navbar-light .navbar-text a:hover,
.loginButton {
  background-color: #b7cadb;
  color: #21325e;
}

/* INDEX */

.mainContainerIndex {
}

.mainIndexText {
  font-family: "Poppins", sans-serif;
  color: #21325e;
  padding: 1%;
  vertical-align: middle;
  display: table-cell;
  height: auto;
  margin: auto;
}

.mainIndexAppDownload {
  padding: 3%;
  align-items: center;
  display: table-cell;
  text-align: center;
}

.indexText {
  font-size: 72px;
}

.indexText2 {
  font-size: 48px;
  color: #21325e;
}

.exploreNow {
  padding: 5%;
}

.indexImg {
  width: 100%;
}

.indexInfo {
  text-align: center;
}

.backgroundIndexInfo {
  background-color: #21325e;
  padding: 3%;
}

.indexInfo .col-4 {
  text-align: center;
}

.indexCard {
  border-radius: 15px;
}

.indexCard:hover {
  transform: scale(110%);
  transition: 0.3s;
}

.indexCard .card-title {
  font-size: 56px;
  color: #3a3845;
}

.indexCard .card-footer {
  color: #21325e;
  font-weight: bold;
}

.googlePlay img {
  width: 20%;
}

.googlePlay img:hover {
  transform: scale(102%);
  transition: 0.1s;
}

.iphonesImg {
  max-width: 500px;
}

/* LOGIN FORM */
.login-form {
  padding: 10%;
}

.login-form .container {
  padding-top: 5%;
  padding-bottom: 5%;
  border: solid;
  border-width: 0.5px;
  border-radius: 25px;
  border-color: lightgray;
}

.login-title {
  font-weight: bold;
}

/* APP */

.main-app {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: lightgray;
}

.frame {
  padding: 2%;
}

.img-col {
  border-right: solid;
  border-width: 1px;
  border-color: lightgray;
  text-align: center;
  padding: 5%;
  vertical-align: middle;
  align-items: center;
}

.details-col {
}

.likeBtn {
  background-color: #fd5d5d;
  color: white;
}

.likeBtn:hover {
  color: whitesmoke;
}

.likeBtn i:hover {
  transform: scale(110%);
  transition: 0.3s;
}

.skipBtn {
  background-color: #21325e;
  color: white;
}

.skipBtn:hover {
  color: whitesmoke;
}

.skipBtn i:hover {
  transform: scale(110%);
  transition: 0.3s;
}

.appTitle {
  font-weight: 900;
}

.appSubtitle {
  font-weight: 500;
}

/* FAVS */

.favItem {
  padding: 1%;
}

.itemCard:hover {
  transform: scale(102%);
  transition: 0.2s;
}

.card-img-top {
  max-width: 150px;
}

#deviceImg {
  display: block;
  margin: auto;
}

.modalSubtitle {
  font-weight: 700;
}

/* ADMIN */

.editRemoveDeviceBtn {
  width: 20px;
  height: 20px;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 5px;
}

/* FOOTER */
.footer {
  background-color: #21325e;
  color: white;
  padding: 1%;
}

/* COMPARATOR */

.comparatorCard {
  border: solid;
  border-color: #21325e;
  border-radius: 10px;
  border-width: 2px;
  padding: 2%;
}

@media (max-width: 1024px) {
  .indexText {
    font-size: 56px;
  }

  .iphonesImg {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .indexText {
    font-size: 42px;
  }

  .indexCard .card-title {
    font-size: 24px;
  }

  .indexCard .card-footer {
    font-size: 14px;
  }

  .iphonesImg {
    width: 250px;
  }
}

@media (max-width: 425px) {
  body {
    text-align: center;
  }

  .indexText {
    font-size: 36px;
  }

  .indexCard .card-title {
    font-size: 18px;
  }

  .indexCard .card-footer {
    font-size: 10px;
  }

  .indexText2 {
    font-size: 24px;
  }

  .googlePlay img {
    width: 80%;
  }
}
